{% extends 'base.html.twig' %}

{% block title %}{{ "our story"|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="row w-100 align-items-center m-0" id="about-cover">
        <div class="col-4 p-0 d-flex justify-content-center align-items-center"
             style="background-image: url('/images/hex-bg.png')">
            <h1 class="text-uppercase wb-text-white">{{ 'our story'|trans }}</h1>
        </div>
        <div class="col-8 p-0">
            <img src="/images/people-office.png" alt="cover" class="w-100"/>
        </div>
    </div>
    <div class="space framed-b framed-t"></div>
    <div class="row w-100 align-items-center m-0">
        <div class="col-6 p-0">
            <img src="/images/lab.png" alt="cover" class="w-100"/>
        </div>
        <div class="col-6 p-0 d-flex justify-content-center align-items-center">
            <div class="w-75">
                <h1 class="text-uppercase mb-4">{{ 'beauty science & proofs'|trans }}</h1>
                <p>
                    {{ 'Wired Beauty as of today is a saas based start-up co-founded by Stanislas and Sophie, two beauty
                    experts'|trans }}
                </p>
                <p>
                    {{ ' Who become friends while working toghether at l’Oréal.
                    Stanislas initiated the scientific research on electrochemistry and antiox measurement to develop a
                    skincare prescription tool, and launched a first B2C sun prevention tool (mapo solar).'|trans }}
                </p>
            </div>
        </div>
    </div>
    <div class="w-100 framed-t framed-b">
        <img src="/images/lines.svg" alt="lines" class="w-100"/>
    </div>
    <div class="row w-100 align-items-center m-0">
        <div class="col-6 p-0 d-flex justify-content-center align-items-center">
            <div class="w-75">
                <h1 class="text-uppercase mb-4">{{ 'renewal of the brand'|trans }}</h1>
                <p>
                    {{ 'In 2021, considering the blue ocean of cosmetic market research and the latest demands of consumer
                    on efficiency proofs especially in Asia, the two of them decided to pivot to a 100% B2B Saas
                    company, convinced by the potential of this technology.'|trans }}
                </p>
                <p>
                    {{ 'As of today, Wired Beauty Technologies has invested 1.3M€ in research on their exclusive IOT, mobile
                    app, algorithand scientific exposome and suncare knowledge partnering with a top-notch consortium'|trans }}
                </p>
            </div>
        </div>
        <div class="col-6 p-0">
            <img src="/images/abstract.png" alt="cover" class="w-100"/>
        </div>
    </div>
{% endblock %}