{% extends 'base.html.twig' %}

{% block title %}{{ "our team"|trans|capitalize }}{% endblock %}

{% block body %}
    <div class="row w-100 align-items-center m-0" id="about-cover">
        <div class="col-4 p-0 d-flex justify-content-center align-items-center"
             style="background-image: url('/images/hex-bg.png')">
            <h1 class="text-uppercase wb-text-white">{{ 'our team'|trans }}</h1>
        </div>
        <div class="col-8 p-0">
            <img src="/images/mountain.png" alt="cover" class="w-100"/>
        </div>
    </div>
    <div class="w-100 framed-t framed-b">
        <img src="/images/lines.svg" alt="lines" class="w-100"/>
    </div>
    <div class="framed-b d-flex justify-content-center align-items-center">
        <p class="p-5 text-center w-75 m-0">
            {{ 'Wired Beaty Technologies is a three-sided French tech team combining the intelligence of two seasoned
            cosmetic professionals lien vers bio sophie et Stan , the electro chemistry knowledge of our CRO partner in
            Toulouse (Qima : lien vers qima) and the scientific skin expertise of a renowned dermatologist Mrs Tu-ahn
            DUONG lien vers BIO of the Henri Mondor Hospital in Paris. lien vers APHP
            It is the quality of our employees and partners that build the trust we seek.
            Because of their singular competences and contagious energy, they help our clients improve and simplify
            skincare research data.'|trans }}
        </p>
    </div>
    <div class="row w-100 m-0 framed-b">
        <div class="team-card col-6">
            <div class="row p-5 pb-1">
                <div class="col-3">
                    <img src="/images/team/sophie.png" class="w-100">
                </div>
                <div class="col-9">
                    <h2 class="text-uppercase">sophie le tanneur</h2>
                    <p class="wb-text-secondary">{{ 'CEO of Wired Beauty'|trans }}</p>
                    <a href="#">
                        <i class="fa-solid fa-arrow-right"></i>
                        Linkedin
                    </a>
                </div>
            </div>
            <p class="p-5 team-desc">
                {{ 'An FMCG corporate life of over 20 years at Colgate-Palmolive & L’Oréal in marketing and general
                management positions in Europe.
                An entrepreneurial life with turn-arounds of a luxury brands backed by Private equity funds for followed
                by 7 years of consulting Lucinda which she founded.
                A passion for entrepreneurship as an impact investor and mentor'|trans }}
            </p>
        </div>
        <div class="team-card col-6">
            <div class="row p-5 pb-1">
                <div class="col-3">
                    <img src="/images/team/stan.png" class="w-100">
                </div>
                <div class="col-9">
                    <h2 class="text-uppercase">Stanislas Vandier</h2>
                    <p class="wb-text-secondary">{{ 'President of Wired Beauty'|trans }}</p>
                    <a href="#">
                        <i class="fa-solid fa-arrow-right"></i>
                        Linkedin
                    </a>
                </div>
            </div>
            <p class="p-5 team-desc">
                {{ '10 years at L’Oréal in marketing and general management positions in Europe.
                An entrepreneurial life in Europe and Asia in dermo-cosmetics (product development and alternative
                retail models) and data / AI.
                A passion for innovation and team ventures.'|trans }}
            </p>
        </div>
    </div>
    <div class="row w-100 m-0 framed-b">
        <div class="team-card col-6">
            <div class="row p-5 pb-1">
                <div class="col-3">
                    <img src="/images/team/nicolas.png" class="w-100">
                </div>
                <div class="col-9">
                    <h2 class="text-uppercase">Dr Nicolas Amalric</h2>
                    <p class="wb-text-secondary">
                        {{ 'Scientific Director of QIMA Life Sciences and former CEO of Synelvia'|trans }}
                    </p>
                    <img src="/images/logos/synelvia.png" width="100"/>
                </div>
            </div>
            <p class="p-5 team-desc">
                {{ 'QIMA Life Sciences (formerly Bioalternatives & Synelvia) offers analytical services tailored to
                skin biology. The assay offering ranges from virtual in silico screening to bioanalysis of non-invasive clinical samples
                clinical samples, as well as in vitro and ex vivo tests.'|trans }}
            </p>
        </div>
        <div class="team-card col-6">
            <div class="row p-5 pb-1">
                <div class="col-3">
                    <img src="/images/team/william.png" class="w-100">
                </div>
                <div class="col-9">
                    <h2 class="text-uppercase">William Richard, Phd.</h2>
                    <p class="wb-text-secondary">{{ 'Studies Director QIMA Life Sciences Toulouse France since 2018'|trans }}</p>
                    <img src="/images/logos/synelvia.png" width="100"/>
                </div>
            </div>
            <p class="p-5 team-desc">
                {{ 'An FMCG corporate life of over 20 years at Colgate-Palmolive & L’Oréal in marketing and general
                management positions in Europe.
                An entrepreneurial life with turn-arounds of a luxury brands backed by Private equity funds for followed
                by 7 years of consulting Lucinda which she founded.
                A passion for entrepreneurship as an impact investor and mentor'|trans }}
            </p>
        </div>
    </div>
    <div class="row w-100 m-0">
        <div class="team-card col-6">
            <div class="row p-5 pb-1">
                <div class="col-3">
                    <img src="/images/team/duong.png" class="w-100">
                </div>
                <div class="col-9">
                    <h2 class="text-uppercase">Pr.Tu-ahn Duong</h2>
                    <p class="wb-text-secondary">{{ 'Dermatologist, APHP, Hôpital Henri Mondor'|trans }}</p>
                    <img src="/images/logos/aphp.png" width="200"/>
                </div>
            </div>
            <p class="p-5 team-desc">
                {{ 'École Centrale Paris, Intern of the Paris Hospitals, PhD'|trans }}
            </p>
        </div>
        <div class="team-card col-6">
            <div class="row p-5 pb-1">
                <div class="col-3">
                    <img src="/images/team/melissa.png" class="w-100">
                </div>
                <div class="col-9">
                    <h2 class="text-uppercase">Mélissa Eveillard</h2>
                    <p class="wb-text-secondary">{{ 'Trainee at APHP'|trans }}</p>
                    <img src="/images/logos/aphp.png" width="200"/>
                </div>
            </div>
            <p class="p-5 team-desc">
                {{ 'A passion for new technologies, data exploration and communication based on deep analysis.'|trans }}
            </p>
        </div>
    </div>
{% endblock %}