{% extends 'admin.base.html.twig' %}

{% block title %}Scientists studies{% endblock %}

{% block body %}
    <h1>Scientists studies</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        {% for study in studies %}
            <tr>
                <td>{{ study.title }}</td>
                <td>{{ study.description|length > 30 ? study.description|slice(0, 28) ~ '...' : study.description }}</td>
                <td>{% if study.path %}
                    <a href="{{ vich_uploader_asset(study, 'file') }}">Link</a>
                    {% else %}
                        Unknown
                    {% endif %}
                <td>
                    <a class="wb-btn-primary" href="{{ path('app_scientists_studies_show', {'id': study.id}) }}">show</a>
                    <a class="wb-btn-edit" href="{{ path('app_scientists_studies_edit', {'id': study.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="wb-btn-primary btn" href="{{ path('app_scientists_studies_new') }}">Add a new study</a>

{% endblock %}
