{% extends 'base.html.twig' %}

{% block title %}New Study{% endblock %}

{% block body %}
    <h1>Add a new study</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Add') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_scientists_studies_index') }}">back to list</a>
{% endblock %}
