<header class="d-flex justify-content-between align-items-center framed-b w-100">
    <div>
        <a href="/" class="text-uppercase wb-text-primary ms-3 text-font-primary">
            <img src="/images/wb-logo.svg" alt="Wired Beauty"/>
        </a>
    </div>
    <div class="d-flex align-items-center">
        <div class="p-3">
            <span class="dropdown">
                <a class="wb-text-primary d-inline dropdown-toggle mx-3 text-uppercase wb-text-14 nav-link dropdown-toggle"
                   href="#"
                   data-bs-toggle="dropdown">
                    about us
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="wb-text-14 dropdown-item text-uppercase" href="{{ path("about_story_index") }}">our story</a></li>
                    <li><a class="wb-text-14 dropdown-item text-uppercase"
                           href="{{ path("about_beliefs_index") }}">our beliefs values and spirits</a></li>
                    <li><a href="{{ path("about_team_index") }}" class="wb-text-14 dropdown-item text-uppercase"
                           href="#">our team</a></li>
                    <li><a class="wb-text-14 dropdown-item text-uppercase" href="#">interview of founders</a></li>
                </ul>
            </span>
            <span class="dropdown">
                <a class="wb-text-primary d-inline dropdown-toggle mx-3 text-uppercase wb-text-14 nav-link dropdown-toggle"
                   href="#"
                   data-bs-toggle="dropdown">
                    factory
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="wb-text-14 dropdown-item text-uppercase"
                           href="{{ path("factory_technologies_index") }}">our technologies</a></li>
                    <li><a class="wb-text-14 dropdown-item text-uppercase"
                           href="{{ path("factory_services_index") }}">studies services</a></li>
                    <li><a class="wb-text-14 dropdown-item text-uppercase"
                           href="{{ path("factory_validation_index") }}">scientific validation</a></li>
                </ul>
            </span>
            <a class="mx-3 text-uppercase wb-text-14">blog</a>
            <a href="{{ path("estimation_index") }}"
               class="mx-3 text-uppercase wb-btn-primary wb-text-14">estimation</a>
            <a href="{{ path("account_request_panelists_index") }}"
               class="mx-3 text-uppercase wb-btn-primary wb-text-14">become a panelist</a>
        </div>

        <div class="framed-l p-3">
            {% if app.user %}
                <span class="dropdown">
                <a class="wb-text-primary d-inline dropdown-toggle mx-3 text-uppercase wb-text-14 nav-link dropdown-toggle"
                   href="#"
                   data-bs-toggle="dropdown">
                     Bonjour {{ app.user.getFirstName() }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="wb-text-14 dropdown-item text-uppercase"
                           href="{{ path("app_logout") }}">Déconnexion</a></li>
                </ul>
            </span>
            {% else %}
                <a href="{{ path("app_login") }}"><i class="fa-regular fa-user wb-text-primary"></i></a>
            {% endif %}
        </div>
    </div>
</header>