<header class="header" id="header">
    <div class="header_toggle"> <i class="fa-solid fa-bars" id="header-toggle"></i></div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div> <a href="{{ path('home_index') }}" class="nav_logo"> <i class="fa-solid fa-w nav_logo-icon"></i> <span class="nav_logo-name">Wired Beauty</span> </a>
            <div class="nav_list"> <a href="{{ path('app_admin_dashboard') }}" class="nav_link"> <i class="fa-solid fa-house"></i> <span class="nav_name">Dashboard</span> </a> <a href="{{ path('app_user_index') }}" class="nav_link"> <i class="fa-solid fa-user nav_icon"></i> <span class="nav_name">Users</span> </a> <a href="{{ path('app_admin_account_request_index') }}" class="nav_link"> <i class="fa-solid fa-user-check nav_icon"></i> <span class="nav_name">User Request</span> </a> <a href="{{ path('app_scientists_studies_index') }}" class="nav_link"> <i class="fa-solid fa-clipboard nav_icons"></i> <span class="nav_name">Scientist Studies</span> </a> <a href="{{ path('app_article_index') }}" class="nav_link"> <i class="fa-solid fa-file-lines nav_icons"></i> <span class="nav_name">Articles</span> </a></div>
        </div> <a href="{{ path('app_logout') }}" class="nav_link"> <i class="fa-solid fa-right-from-bracket nav_icon"></i> <span class="nav_name">SignOut</span> </a>
    </nav>
</div>
{% block javascript %}
    <script>

        document.addEventListener("DOMContentLoaded", function(event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) =>{
            const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId)

            // Validate that all variables exist
            if(toggle && nav && bodypd && headerpd){
                toggle.addEventListener('click', ()=>{
                // show navbar
                nav.classList.toggle('show')
                // change icon
                toggle.classList.toggle('fa-x')
                // add padding to body
                bodypd.classList.toggle('body-pd')
                // add padding to header
                headerpd.classList.toggle('body-pd')
                })
            }
        }

        showNavbar('header-toggle','nav-bar','body-pd','header')

    // Your code to run since DOM is loaded and ready
    });
    </script>
{% endblock javascript %}